*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/app/src/main/res/values-sk/strings.xml
/app/src/main/res/values-sk/strings.xml
*Bugly*
*class_files.txt
